.fees{

    .banner{
        text-align: center;
        background-color: #008000;
        padding: 1vh;
        margin:1vh 0;
        font-weight: 500;
    }

    .details{
        margin: 0 1vw;
        color: black;
        overflow-x: scroll;
        // height: 65vh;
        overflow-x: scroll;

        @media (max-width:750px) {
            height: 50vh;
        }

        &::-webkit-scrollbar{
            display: none;
        }

    }
}