.container{
    display: flex;
    margin-top: 3vh;
    .sidebar{
        display: fixed;
        min-width: 225px;
        background-color:var(--background-sidebar);
        // height: calc(100vh - 23vh);
        min-height: calc(100vh - 18vh);
        @media (max-width:750px) {
            display: none;
        }
    }

    .main{
        // min-height: calc(100vh - 31vh);
        // min-height: 100vh;
        width: 100%;
        margin-bottom: 30px;
        overflow: scroll;
        &::-webkit-scrollbar{
            display: none;
        }

        .news{
            position: sticky;
            top: 0;
        }

        .footer{
            position: fixed;
            bottom: 0px;
        }

        
    }
}